<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ah.health.mapper.PhysicalFitnessTestMapper" >
  <sql id="Base_Column_List" >
    pft.id,
    pft.student_id,
    pft.vital_capacity,
    pft.run_fifty,
    pft.run_eight_hundred,
    pft.run_one_thousand,
    pft.sitting_flexion,
    pft.standing_long_jump,
    pft.pull_ups,
    pft.abdominal_curl,
    pft.test_date,
    pft.del_flag
  </sql>

  <select id="findAll" parameterType="map" resultType="com.ah.health.pojo.PhysicalFitnessTest">
    select
    <include refid="Base_Column_List" />,
    DATE_FORMAT(pft.test_date,'%m-%d-%Y') as testDateString,
    u.username as username,
    u.usercode as userCode,
    u.grade as grade,
    u.sex as sex
    from physical_fitness_test pft left JOIN t_user u on pft.student_id = u.id and u.del_flag='0'
    WHERE pft.del_flag = '0'
    <if test="username !=null and username!='' ">
      and u.username like concat('%',#{username},'%')
    </if>
    <if test="userCode !=null and userCode!='' ">
      and u.usercode like concat('%',#{userCode},'%')
    </if>
    <if test="grade !=null and grade!='' ">
      and u.grade like concat('%',#{grade},'%')
    </if>
    <if test="userId !=null and userId!='' ">
      and u.id = #{userId}
    </if>
  </select>


  <select id="get" resultType="com.ah.health.pojo.PhysicalFitnessTest">
    select
    <include refid="Base_Column_List" />,
    DATE_FORMAT(pft.test_date,'%m-%d-%Y') as testDateString,
    u.username as username,
    u.usercode as userCode,
    u.grade as grade,
    u.sex as sex,
    DATE_FORMAT(u.birthday,'%m-%d-%Y') as birthday
    from physical_fitness_test pft left JOIN t_user u on pft.student_id = u.id and u.del_flag='0'
    WHERE pft.del_flag = '0' and pft.id = #{id}
  </select>

  <insert id="save" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    insert into physical_fitness_test (id, student_id, vital_capacity,
    run_fifty, run_eight_hundred, run_one_thousand,
    sitting_flexion, standing_long_jump, pull_ups,
    abdominal_curl, test_date, del_flag
    )
    values (#{id}, #{studentId}, #{vitalCapacity},
    #{runFifty}, #{runEightHundred}, #{runOneThousand},
    #{sittingFlexion}, #{standingLongJump}, #{pullUps},
    #{abdominalCurl}, #{testDate}, #{delFlag}
    )
  </insert>


  <update id="delete">
    update physical_fitness_test set del_flag = '1' where id = #{id}
  </update>

  <update id="update" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    update physical_fitness_test
    <set >
      <if test="vitalCapacity != null" >
        vital_capacity = #{vitalCapacity},
      </if>
      <if test="runFifty != null" >
        run_fifty = #{runFifty},
      </if>
      <if test="runEightHundred != null" >
        run_eight_hundred = #{runEightHundred},
      </if>
      <if test="runOneThousand != null" >
        run_one_thousand = #{runOneThousand},
      </if>
      <if test="sittingFlexion != null" >
        sitting_flexion = #{sittingFlexion},
      </if>
      <if test="standingLongJump != null" >
        standing_long_jump = #{standingLongJump},
      </if>
      <if test="pullUps != null" >
        pull_ups = #{pullUps},
      </if>
      <if test="abdominalCurl != null" >
        abdominal_curl = #{abdominalCurl},
      </if>
      <if test="testDate != null" >
        test_date = #{testDate}
      </if>
    </set>
    where id = #{id}
  </update>



  <select id="selectByExample" resultType="com.ah.health.pojo.PhysicalFitnessTest" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from physical_fitness_test
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultType="com.ah.health.pojo.PhysicalFitnessTest" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physical_fitness_test
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from physical_fitness_test
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    delete from physical_fitness_test
  </delete>
  <insert id="insertSelective" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    insert into physical_fitness_test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="vitalCapacity != null" >
        vital_capacity,
      </if>
      <if test="runFifty != null" >
        run_fifty,
      </if>
      <if test="runEightHundred != null" >
        run_eight_hundred,
      </if>
      <if test="runOneThousand != null" >
        run_one_thousand,
      </if>
      <if test="sittingFlexion != null" >
        sitting_flexion,
      </if>
      <if test="standingLongJump != null" >
        standing_long_jump,
      </if>
      <if test="pullUps != null" >
        pull_ups,
      </if>
      <if test="abdominalCurl != null" >
        abdominal_curl,
      </if>
      <if test="testDate != null" >
        test_date,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="studentId != null" >
        #{studentId},
      </if>
      <if test="vitalCapacity != null" >
        #{vitalCapacity},
      </if>
      <if test="runFifty != null" >
        #{runFifty},
      </if>
      <if test="runEightHundred != null" >
        #{runEightHundred},
      </if>
      <if test="runOneThousand != null" >
        #{runOneThousand},
      </if>
      <if test="sittingFlexion != null" >
        #{sittingFlexion},
      </if>
      <if test="standingLongJump != null" >
        #{standingLongJump},
      </if>
      <if test="pullUps != null" >
        #{pullUps},
      </if>
      <if test="abdominalCurl != null" >
        #{abdominalCurl},
      </if>
      <if test="testDate != null" >
        #{testDate},
      </if>
      <if test="delFlag != null" >
        #{delFlag},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ah.health.pojo.PhysicalFitnessTest" resultType="java.lang.Integer" >
    select count(*) from physical_fitness_test
  </select>

  <update id="updateByExample" parameterType="map" >
    update physical_fitness_test
    set id = #{record.id},
      student_id = #{record.studentId},
      vital_capacity = #{record.vitalCapacity},
      run_fifty = #{record.runFifty},
      run_eight_hundred = #{record.runEightHundred},
      run_one_thousand = #{record.runOneThousand},
      sitting_flexion = #{record.sittingFlexion},
      standing_long_jump = #{record.standingLongJump},
      pull_ups = #{record.pullUps},
      abdominal_curl = #{record.abdominalCurl},
      test_date = #{record.testDate},
      del_flag = #{record.delFlag}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    update physical_fitness_test
    <set >
      <if test="studentId != null" >
        student_id = #{studentId},
      </if>
      <if test="vitalCapacity != null" >
        vital_capacity = #{vitalCapacity},
      </if>
      <if test="runFifty != null" >
        run_fifty = #{runFifty},
      </if>
      <if test="runEightHundred != null" >
        run_eight_hundred = #{runEightHundred},
      </if>
      <if test="runOneThousand != null" >
        run_one_thousand = #{runOneThousand},
      </if>
      <if test="sittingFlexion != null" >
        sitting_flexion = #{sittingFlexion},
      </if>
      <if test="standingLongJump != null" >
        standing_long_jump = #{standingLongJump},
      </if>
      <if test="pullUps != null" >
        pull_ups = #{pullUps},
      </if>
      <if test="abdominalCurl != null" >
        abdominal_curl = #{abdominalCurl},
      </if>
      <if test="testDate != null" >
        test_date = #{testDate},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ah.health.pojo.PhysicalFitnessTest" >
    update physical_fitness_test
    set student_id = #{studentId},
      vital_capacity = #{vitalCapacity},
      run_fifty = #{runFifty},
      run_eight_hundred = #{runEightHundred},
      run_one_thousand = #{runOneThousand},
      sitting_flexion = #{sittingFlexion},
      standing_long_jump = #{standingLongJump},
      pull_ups = #{pullUps},
      abdominal_curl = #{abdominalCurl},
      test_date = #{testDate},
      del_flag = #{delFlag}
    where id = #{id}
  </update>
</mapper>