<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ah.health.mapper.PhysicalExaminationMapper" >
  <sql id="Base_Column_List" >
    pe.id,
    pe.check_date,
    pe.uncorrected_visual_left,
    pe.uncorrected_visual_right,
    pe.color_vision,
    pe.hearing_left,
    pe.hearing_right,
    pe.ears_left,
    pe.ears_right,
    pe.smell,
    pe.facial_region,
    pe.oral_cavity,
    pe.the_throat,
    pe.height,
    pe.wright,
    pe.skin,
    pe.lymph,
    pe.spine,
    pe.limb,
    pe.other,
    pe.blood_pressure,
    pe.heart_rate,
    pe.heart,
    pe.lung,
    pe.liver,
    pe.spleen,
    pe.blood,
    pe.urine,
    pe.liver_function,
    pe.renal_function,
    pe.chest_x_ray_examination,
    pe.user_id,
    pe.del_flag
  </sql>

  <select id="findAll" resultType="com.ah.health.vo.PhysicalExaminationVo" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />,
    DATE_FORMAT(pe.check_date,'%m-%d-%Y') as checkDateString,
    u.username as username,
    u.usercode as userCode,
    u.grade as grade,
    u.sex as sex
    from physical_examination pe left JOIN t_user u on pe.user_id = u.id and u.del_flag='0'
    WHERE pe.del_flag = '0'
    <if test="username !=null and username!='' ">
      and u.username like concat('%',#{username},'%')
    </if>
    <if test="userCode !=null and userCode!='' ">
      and u.usercode like concat('%',#{userCode},'%')
    </if>
    <if test="grade !=null and grade!='' ">
      and u.grade like concat('%',#{grade},'%')
    </if>
    <if test="userId !=null and userId!='' ">
      and u.id = #{userId}
    </if>
  </select>


  <select id="get" resultType="com.ah.health.vo.PhysicalExaminationVo" >
    select
    <include refid="Base_Column_List" />,
    DATE_FORMAT(pe.check_date,'%m-%d-%Y') as checkDateString,
    u.username as username,
    u.usercode as userCode,
    u.grade as grade,
    u.sex as sex,
    u.major as major,
    DATE_FORMAT(u.birthday,'%m-%d-%Y') as birthday
    from physical_examination pe left JOIN t_user u on pe.user_id = u.id and u.del_flag='0'
    WHERE pe.del_flag = '0' and pe.id = #{id}

  </select>


  <insert id="save" parameterType="com.ah.health.pojo.PhysicalExamination" >
    insert into physical_examination (id, check_date, uncorrected_visual_left,
    uncorrected_visual_right, color_vision,
    hearing_left, hearing_right,
    ears_left, ears_right, smell,
    facial_region, oral_cavity, the_throat,
    height, wright, skin,
    lymph, spine, limb,
    other,blood_pressure,
    heart_rate, heart, lung,
    liver, spleen, blood,
    urine, liver_function, renal_function,
    chest_x_ray_examination, user_id, del_flag
    )
    values (#{id}, #{checkDate}, #{uncorrectedVisualLeft},
    #{uncorrectedVisualRight}, #{colorVision},
    #{hearingLeft}, #{hearingRight},
    #{earsLeft}, #{earsRight}, #{smell},
    #{facialRegion}, #{oralCavity}, #{theThroat},
    #{height}, #{wright}, #{skin},
    #{lymph}, #{spine}, #{limb},
    #{other}, #{bloodPressure},
    #{heartRate}, #{heart}, #{lung},
    #{liver}, #{spleen}, #{blood},
    #{urine}, #{liverFunction}, #{renalFunction},
    #{chestXRayExamination}, #{userId}, #{delFlag}
    )
  </insert>

  <update id="delete">
    update physical_examination set del_flag = '1' where id = #{id}
  </update>


  <update id="update" parameterType="com.ah.health.pojo.PhysicalExamination">
    update physical_examination
    <set >
      <if test="checkDate != null" >
        check_date = #{checkDate},
      </if>
      <if test="uncorrectedVisualLeft != null" >
        uncorrected_visual_left = #{uncorrectedVisualLeft},
      </if>
      <if test="uncorrectedVisualRight != null" >
        uncorrected_visual_right = #{uncorrectedVisualRight},
      </if>
      <if test="colorVision != null" >
        color_vision = #{colorVision},
      </if>
      <if test="hearingLeft != null" >
        hearing_left = #{hearingLeft},
      </if>
      <if test="hearingRight != null" >
        hearing_right = #{hearingRight},
      </if>
      <if test="earsLeft != null" >
        ears_left = #{earsLeft},
      </if>
      <if test="earsRight != null" >
        ears_right = #{earsRight},
      </if>
      <if test="smell != null" >
        smell = #{smell},
      </if>
      <if test="facialRegion != null" >
        facial_region = #{facialRegion},
      </if>
      <if test="oralCavity != null" >
        oral_cavity = #{oralCavity},
      </if>
      <if test="theThroat != null" >
        the_throat = #{theThroat},
      </if>
      <if test="height != null" >
        height = #{height},
      </if>
      <if test="wright != null" >
        wright = #{wright},
      </if>
      <if test="skin != null" >
        skin = #{skin},
      </if>
      <if test="lymph != null" >
        lymph = #{lymph},
      </if>
      <if test="spine != null" >
        spine = #{spine},
      </if>
      <if test="limb != null" >
        limb = #{limb},
      </if>
      <if test="other != null" >
        other = #{other},
      </if>
      <if test="bloodPressure != null" >
        blood_pressure = #{bloodPressure},
      </if>
      <if test="heartRate != null" >
        heart_rate = #{heartRate},
      </if>
      <if test="heart != null" >
        heart = #{heart},
      </if>
      <if test="lung != null" >
        lung = #{lung},
      </if>
      <if test="liver != null" >
        liver = #{liver},
      </if>
      <if test="spleen != null" >
        spleen = #{spleen},
      </if>
      <if test="blood != null" >
        blood = #{blood},
      </if>
      <if test="urine != null" >
        urine = #{urine},
      </if>
      <if test="liverFunction != null" >
        liver_function = #{liverFunction},
      </if>
      <if test="renalFunction != null" >
        renal_function = #{renalFunction},
      </if>
      <if test="chestXRayExamination != null" >
        chest_x_ray_examination = #{chestXRayExamination},
      </if>
      <if test="userId != null" >
        user_id = #{userId}
      </if>
    </set>
    where id = #{id}

  </update>






  <select id="selectByExample" resultType="com.ah.health.pojo.PhysicalExamination" parameterType="com.ah.health.pojo.PhysicalExamination" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from physical_examination
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultType="com.ah.health.pojo.PhysicalExamination" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from physical_examination
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from physical_examination
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.ah.health.pojo.PhysicalExamination" >
    delete from physical_examination
  </delete>
  
  <insert id="insertSelective" parameterType="com.ah.health.pojo.PhysicalExamination" >
    insert into physical_examination
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="uncorrectedVisualLeft != null" >
        uncorrected_visual_left,
      </if>
      <if test="uncorrectedVisualRight != null" >
        uncorrected_visual_right,
      </if>
      <if test="colorVision != null" >
        color_vision,
      </if>
      <if test="hearingLeft != null" >
        hearing_left,
      </if>
      <if test="hearingRight != null" >
        hearing_right,
      </if>
      <if test="earsLeft != null" >
        ears_left,
      </if>
      <if test="earsRight != null" >
        ears_right,
      </if>
      <if test="smell != null" >
        smell,
      </if>
      <if test="facialRegion != null" >
        facial_region,
      </if>
      <if test="oralCavity != null" >
        oral_cavity,
      </if>
      <if test="theThroat != null" >
        the_throat,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="wright != null" >
        wright,
      </if>
      <if test="skin != null" >
        skin,
      </if>
      <if test="lymph != null" >
        lymph,
      </if>
      <if test="spine != null" >
        spine,
      </if>
      <if test="limb != null" >
        limb,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="bloodPressure != null" >
        blood_pressure,
      </if>
      <if test="heartRate != null" >
        heart_rate,
      </if>
      <if test="heart != null" >
        heart,
      </if>
      <if test="lung != null" >
        lung,
      </if>
      <if test="liver != null" >
        liver,
      </if>
      <if test="spleen != null" >
        spleen,
      </if>
      <if test="blood != null" >
        blood,
      </if>
      <if test="urine != null" >
        urine,
      </if>
      <if test="liverFunction != null" >
        liver_function,
      </if>
      <if test="renalFunction != null" >
        renal_function,
      </if>
      <if test="chestXRayExamination != null" >
        chest_x_ray_examination,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="checkDate != null" >
        #{checkDate},
      </if>
      <if test="uncorrectedVisualLeft != null" >
        #{uncorrectedVisualLeft},
      </if>
      <if test="uncorrectedVisualRight != null" >
        #{uncorrectedVisualRight},
      </if>
      <if test="colorVisionLeft != null" >
        #{colorVisionLeft},
      </if>
      <if test="colorVisionRight != null" >
        #{colorVisionRight},
      </if>
      <if test="hearingLeft != null" >
        #{hearingLeft},
      </if>
      <if test="hearingRight != null" >
        #{hearingRight},
      </if>
      <if test="earsLeft != null" >
        #{earsLeft},
      </if>
      <if test="earsRight != null" >
        #{earsRight},
      </if>
      <if test="smell != null" >
        #{smell},
      </if>
      <if test="facialRegion != null" >
        #{facialRegion},
      </if>
      <if test="oralCavity != null" >
        #{oralCavity},
      </if>
      <if test="theThroat != null" >
        #{theThroat},
      </if>
      <if test="height != null" >
        #{height},
      </if>
      <if test="wright != null" >
        #{wright},
      </if>
      <if test="skin != null" >
        #{skin},
      </if>
      <if test="lymph != null" >
        #{lymph},
      </if>
      <if test="spine != null" >
        #{spine},
      </if>
      <if test="limb != null" >
        #{limb},
      </if>
      <if test="other != null" >
        #{other},
      </if>
      <if test="bloodPressure != null" >
        #{blood_pressure},
      </if>
      <if test="heartRate != null" >
        #{heartRate},
      </if>
      <if test="heart != null" >
        #{heart},
      </if>
      <if test="lung != null" >
        #{lung},
      </if>
      <if test="liver != null" >
        #{liver},
      </if>
      <if test="spleen != null" >
        #{spleen},
      </if>
      <if test="blood != null" >
        #{blood},
      </if>
      <if test="urine != null" >
        #{urine},
      </if>
      <if test="liverFunction != null" >
        #{liverFunction},
      </if>
      <if test="renalFunction != null" >
        #{renalFunction},
      </if>
      <if test="chestXRayExamination != null" >
        #{chestXRayExamination},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="delFlag != null" >
        #{delFlag},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ah.health.pojo.PhysicalExamination" resultType="java.lang.Integer" >
    select count(*) from physical_examination
  </select>
  <update id="updateByExample" parameterType="map" >
    update physical_examination
    set id = #{id},
      check_date = #{record.checkDate},
      uncorrected_visual_left = #{record.uncorrectedVisualLeft},
      uncorrected_visual_right = #{record.uncorrectedVisualRight},
      color_vision_left = #{record.colorVisionLeft},
      color_vision_right = #{record.colorVisionRight},
      hearing_left = #{record.hearingLeft},
      hearing_right = #{record.hearingRight},
      ears_left = #{record.earsLeft},
      ears_right = #{record.earsRight},
      smell = #{record.smell},
      facial_region = #{record.facialRegion},
      oral_cavity = #{record.oralCavity},
      the_throat = #{record.theThroat},
      height = #{record.height},
      wright = #{record.wright},
      skin = #{record.skin},
      lymph = #{record.lymph},
      spine = #{record.spine},
      limb = #{record.limb},
      other = #{record.other},
      heart_rate = #{record.heartRate},
      heart = #{record.heart},
      lung = #{record.lung},
      liver = #{record.liver},
      spleen = #{record.spleen},
      blood = #{record.blood},
      urine = #{record.urine},
      liver_function = #{record.liverFunction},
      renal_function = #{record.renalFunction},
      chest_x_ray_examination = #{record.chestXRayExamination},
      user_id = #{record.userId},
      del_flag = #{record.delFlag}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ah.health.pojo.PhysicalExamination" >
    update physical_examination
    <set >
      <if test="checkDate != null" >
        check_date = #{checkDate},
      </if>
      <if test="uncorrectedVisualLeft != null" >
        uncorrected_visual_left = #{uncorrectedVisualLeft},
      </if>
      <if test="uncorrectedVisualRight != null" >
        uncorrected_visual_right = #{uncorrectedVisualRight},
      </if>
      <if test="colorVisionLeft != null" >
        color_vision_left = #{colorVisionLeft},
      </if>
      <if test="colorVisionRight != null" >
        color_vision_right = #{colorVisionRight},
      </if>
      <if test="hearingLeft != null" >
        hearing_left = #{hearingLeft},
      </if>
      <if test="hearingRight != null" >
        hearing_right = #{hearingRight},
      </if>
      <if test="earsLeft != null" >
        ears_left = #{earsLeft},
      </if>
      <if test="earsRight != null" >
        ears_right = #{earsRight},
      </if>
      <if test="smell != null" >
        smell = #{smell},
      </if>
      <if test="facialRegion != null" >
        facial_region = #{facialRegion},
      </if>
      <if test="oralCavity != null" >
        oral_cavity = #{oralCavity},
      </if>
      <if test="theThroat != null" >
        the_throat = #{theThroat},
      </if>
      <if test="height != null" >
        height = #{height},
      </if>
      <if test="wright != null" >
        wright = #{wright},
      </if>
      <if test="skin != null" >
        skin = #{skin},
      </if>
      <if test="lymph != null" >
        lymph = #{lymph},
      </if>
      <if test="spine != null" >
        spine = #{spine},
      </if>
      <if test="limb != null" >
        limb = #{limb},
      </if>
      <if test="other != null" >
        other = #{other},
      </if>
      <if test="systolicPressure != null" >
        systolic_pressure = #{systolicPressure},
      </if>
      <if test="diastolicPressure != null" >
        diastolic_pressure = #{diastolicPressure},
      </if>
      <if test="heartRate != null" >
        heart_rate = #{heartRate},
      </if>
      <if test="heart != null" >
        heart = #{heart},
      </if>
      <if test="lung != null" >
        lung = #{lung},
      </if>
      <if test="liver != null" >
        liver = #{liver},
      </if>
      <if test="spleen != null" >
        spleen = #{spleen},
      </if>
      <if test="blood != null" >
        blood = #{blood},
      </if>
      <if test="urine != null" >
        urine = #{urine},
      </if>
      <if test="liverFunction != null" >
        liver_function = #{liverFunction},
      </if>
      <if test="renalFunction != null" >
        renal_function = #{renalFunction},
      </if>
      <if test="chestXRayExamination != null" >
        chest_x_ray_examination = #{chestXRayExamination},
      </if>
      <if test="userId != null" >
        user_id = #{userId},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ah.health.pojo.PhysicalExamination" >
    update physical_examination
    set check_date = #{checkDate},
      uncorrected_visual_left = #{uncorrectedVisualLeft},
      uncorrected_visual_right = #{uncorrectedVisualRight},
      color_vision_left = #{colorVisionLeft},
      color_vision_right = #{colorVisionRight},
      hearing_left = #{hearingLeft},
      hearing_right = #{hearingRight},
      ears_left = #{earsLeft},
      ears_right = #{earsRight},
      smell = #{smell},
      facial_region = #{facialRegion},
      oral_cavity = #{oralCavity},
      the_throat = #{theThroat},
      height = #{height},
      wright = #{wright},
      skin = #{skin},
      lymph = #{lymph},
      spine = #{spine},
      limb = #{limb},
      other = #{other},
      heart_rate = #{heartRate},
      heart = #{heart},
      lung = #{lung},
      liver = #{liver},
      spleen = #{spleen},
      blood = #{blood},
      urine = #{urine},
      liver_function = #{liverFunction},
      renal_function = #{renalFunction},
      chest_x_ray_examination = #{chestXRayExamination},
      user_id = #{userId},
      del_flag = #{delFlag}
    where id = #{id}
  </update>
</mapper>