<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ah.company.mapper.CurriculumInfoMapper" >

  <sql id="Base_Column_List" >
    id, curriculum_name, curriculum_url, type, del_flag,file_name
  </sql>


  <select id="findAll" resultType="com.ah.company.pojo.CurriculumInfo" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from curriculum_info
    where del_flag = '0'
    <if test="curriculumName !=null and curriculumName !='' ">
      and curriculum_name like concat('%',#{curriculumName},'%')
    </if>
  </select>
  
  <select id="findCurriculumInfoByClass" resultType="com.ah.company.pojo.CurriculumInfo" parameterType="map">
    SELECT
       cn.curriculum_name,mc.standard_fraction,mc.id
      from  must_curriculum mc INNER join curriculum_info cn on mc.curriculum_id = cn.id and cn.del_flag = '0'
      where mc.del_flag = '0'
  </select>

  <select id="get" resultType="com.ah.company.pojo.CurriculumInfo">
    select
    <include refid="Base_Column_List" />
    from curriculum_info
    where del_flag = '0' and id = #{id}
  </select>

  <insert id="save" parameterType="com.ah.company.pojo.CurriculumInfo" >
    insert into curriculum_info (id, curriculum_name, curriculum_url,
    type, del_flag,file_name)
    values (#{id,jdbcType=VARCHAR}, #{curriculumName,jdbcType=VARCHAR}, #{curriculumUrl,jdbcType=VARCHAR},
    #{type,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},#{fileName})
  </insert>

  <update id="delete" parameterType="java.lang.String" >
    UPDATE curriculum_info set del_flag = '1'
    where id = #{id}
  </update>

  <update id="update" parameterType="com.ah.company.pojo.CurriculumInfo" >
    update curriculum_info
    <set >
      <if test="curriculumName != null" >
        curriculum_name = #{curriculumName,jdbcType=VARCHAR},
      </if>
      <if test="curriculumUrl != null" >
        curriculum_url = #{curriculumUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findCurriculems" parameterType="string" resultType="com.ah.company.pojo.CurriculumInfo">
    select ci.curriculum_name,ci.id
      from curriculum_info ci LEFT JOIN must_curriculum mc on mc.curriculum_id = ci.id and mc.del_flag = '0' and mc.class_id != #{classId}
      where ci.del_flag = '0'
  </select>

  <insert id="saveClassCurrculum" parameterType="com.ah.company.pojo.CurriculumInfo">
    INSERT INTO must_curriculum(id,curriculum_id,standard_fraction,del_flag,class_id) VALUES (#{id},#{curriculumId},#{standardFraction},#{delFlag},#{classId})
  </insert>
  
  <update id="deleteClassCurrculum">
    UPDATE must_curriculum set del_flag = '1' where id =#{id}
  </update>
  
  <select id="findPersonalCurrculum" resultType="com.ah.company.pojo.CurriculumInfo" parameterType="map">
   SELECT
      mi.curriculum_name,mi.curriculum_url,mi.type,ifNULL(0,li.learn_time) AS learnTime,mi.id
      FROM user_class u INNER join must_curriculum mc on u.class_id = mc.class_id and mc.del_flag = '0'
      INNER join curriculum_info mi on mc.curriculum_id = mi.id and mi.del_flag = '0'
      LEFT JOIN learn_info li on mc.curriculum_id = li.curriculum_id and u.user_id = li.user_id
      WHERE u.user_id = #{userId}
  </select>
</mapper>