<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ah.company.mapper.RawMaterialMapper" >
  <sql id="Base_Column_List" >
    id, commonly_called, china_name, english_name, chemical_formula, del_flag, source_id,
    create_by, create_date, update_by, update_date, Inventory
  </sql>
  <select id="findAll" resultType="com.ah.company.pojo.RawMaterial" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from raw_material
      WHERE del_flag = '0'
    <if test="commonlyCalled !=null and commonlyCalled!='' ">
      and commonly_called LIKE concat('%',#{commonlyCalled},'%')
    </if>
    <if test="englishName !=null and englishName!='' ">
      and english_name LIKE concat('%',#{englishName},'%')
    </if>
      order by create_date desc
  </select>

  <select id="get" resultType="com.ah.company.pojo.RawMaterial"  >
    select
    <include refid="Base_Column_List" />
    from raw_material
    WHERE id=#{id} and del_flag = '0'
  </select>


  <select id="findRawMaterial" resultType="com.ah.company.pojo.RawMaterial">
    select
    <include refid="Base_Column_List" />
    from raw_material
    WHERE del_flag = '0'
    order by create_date desc
  </select>

  <update id="delete" >
    UPDATE raw_material
      SET del_flag = '1'
      where id = #{id}
  </update>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from raw_material-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String" >-->
    <!--delete from raw_material-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.ah.company.pojo.RawMaterialExample" >-->
    <!--delete from raw_material-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <insert id="save" parameterType="com.ah.company.pojo.RawMaterial" >
    insert into raw_material (id, commonly_called, china_name,
      english_name, chemical_formula, del_flag,
      source_id, create_by, create_date,
      update_by, update_date, Inventory
      )
    values (#{id,jdbcType=VARCHAR}, #{commonlyCalled,jdbcType=VARCHAR}, #{chinaName,jdbcType=VARCHAR},
      #{englishName,jdbcType=VARCHAR}, #{chemicalFormula,jdbcType=VARCHAR}, #{delFlag,jdbcType=VARCHAR},
      #{sourceId,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, #{inventory,jdbcType=INTEGER}
      )
  </insert>
  <!--<insert id="insertSelective" parameterType="com.ah.company.pojo.RawMaterial" >-->
    <!--insert into raw_material-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="commonlyCalled != null" >-->
        <!--commonly_called,-->
      <!--</if>-->
      <!--<if test="chinaName != null" >-->
        <!--china_name,-->
      <!--</if>-->
      <!--<if test="englishName != null" >-->
        <!--english_name,-->
      <!--</if>-->
      <!--<if test="chemicalFormula != null" >-->
        <!--chemical_formula,-->
      <!--</if>-->
      <!--<if test="delFlag != null" >-->
        <!--del_flag,-->
      <!--</if>-->
      <!--<if test="sourceId != null" >-->
        <!--source_id,-->
      <!--</if>-->
      <!--<if test="createBy != null" >-->
        <!--create_by,-->
      <!--</if>-->
      <!--<if test="createDate != null" >-->
        <!--create_date,-->
      <!--</if>-->
      <!--<if test="updateBy != null" >-->
        <!--update_by,-->
      <!--</if>-->
      <!--<if test="updateDate != null" >-->
        <!--update_date,-->
      <!--</if>-->
      <!--<if test="inventory != null" >-->
        <!--Inventory,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="commonlyCalled != null" >-->
        <!--#{commonlyCalled,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="chinaName != null" >-->
        <!--#{chinaName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="englishName != null" >-->
        <!--#{englishName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="chemicalFormula != null" >-->
        <!--#{chemicalFormula,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="delFlag != null" >-->
        <!--#{delFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="sourceId != null" >-->
        <!--#{sourceId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createBy != null" >-->
        <!--#{createBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createDate != null" >-->
        <!--#{createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateBy != null" >-->
        <!--#{updateBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateDate != null" >-->
        <!--#{updateDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="inventory != null" >-->
        <!--#{inventory,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.ah.company.pojo.RawMaterialExample" resultType="java.lang.Integer" >-->
    <!--select count(*) from raw_material-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--update raw_material-->
    <!--<set >-->
      <!--<if test="record.id != null" >-->
        <!--id = #{record.id,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.commonlyCalled != null" >-->
        <!--commonly_called = #{record.commonlyCalled,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.chinaName != null" >-->
        <!--china_name = #{record.chinaName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.englishName != null" >-->
        <!--english_name = #{record.englishName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.chemicalFormula != null" >-->
        <!--chemical_formula = #{record.chemicalFormula,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.delFlag != null" >-->
        <!--del_flag = #{record.delFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.sourceId != null" >-->
        <!--source_id = #{record.sourceId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createBy != null" >-->
        <!--create_by = #{record.createBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createDate != null" >-->
        <!--create_date = #{record.createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.updateBy != null" >-->
        <!--update_by = #{record.updateBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.updateDate != null" >-->
        <!--update_date = #{record.updateDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.inventory != null" >-->
        <!--Inventory = #{record.inventory,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map" >-->
    <!--update raw_material-->
    <!--set id = #{record.id,jdbcType=VARCHAR},-->
      <!--commonly_called = #{record.commonlyCalled,jdbcType=VARCHAR},-->
      <!--china_name = #{record.chinaName,jdbcType=VARCHAR},-->
      <!--english_name = #{record.englishName,jdbcType=VARCHAR},-->
      <!--chemical_formula = #{record.chemicalFormula,jdbcType=VARCHAR},-->
      <!--del_flag = #{record.delFlag,jdbcType=VARCHAR},-->
      <!--source_id = #{record.sourceId,jdbcType=VARCHAR},-->
      <!--create_by = #{record.createBy,jdbcType=VARCHAR},-->
      <!--create_date = #{record.createDate,jdbcType=TIMESTAMP},-->
      <!--update_by = #{record.updateBy,jdbcType=VARCHAR},-->
      <!--update_date = #{record.updateDate,jdbcType=TIMESTAMP},-->
      <!--Inventory = #{record.inventory,jdbcType=INTEGER}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.ah.company.pojo.RawMaterial" >-->
    <!--update raw_material-->
    <!--<set >-->
      <!--<if test="commonlyCalled != null" >-->
        <!--commonly_called = #{commonlyCalled,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="chinaName != null" >-->
        <!--china_name = #{chinaName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="englishName != null" >-->
        <!--english_name = #{englishName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="chemicalFormula != null" >-->
        <!--chemical_formula = #{chemicalFormula,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="delFlag != null" >-->
        <!--del_flag = #{delFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="sourceId != null" >-->
        <!--source_id = #{sourceId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createBy != null" >-->
        <!--create_by = #{createBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createDate != null" >-->
        <!--create_date = #{createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateBy != null" >-->
        <!--update_by = #{updateBy,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="updateDate != null" >-->
        <!--update_date = #{updateDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="inventory != null" >-->
        <!--Inventory = #{inventory,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=VARCHAR}-->
  <!--</update>-->
  <update id="update" parameterType="com.ah.company.pojo.RawMaterial" >
    update raw_material
    set commonly_called = #{commonlyCalled,jdbcType=VARCHAR},
      china_name = #{chinaName,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      chemical_formula = #{chemicalFormula,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      Inventory = #{inventory,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR} and del_flag = '0'
  </update>
</mapper>