<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ah.manager.mapper.TUserMapper" >

  <sql id="Base_Column_List" >
    u.id as id,
    u.username as username,
    u.usercode as userCode,
    u.birthday as birthday,
    u.sex as sex,
    u.grade as grade,
    u.family_name as familyName,
    u.school as school,
    u.college as college,
    u.major as major,
    u.phone as phone,
    u.qq_number as qqNumber,
    u.email as email,
    u.job as job,
    u.work_time as workTime,
    u.personcard_no as personcardNo,
    u.address as address,
    u.password as password,
    u.del_flag,
    u.create_date,
    u.create_by,
    u.update_date,
    DATE_FORMAT(u.birthday,'%m-%d-%Y') as  birthdayString,
    u.update_by
  </sql>

  <select id="findAll" resultType="com.ah.manager.pojo.TUser" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_user u
    WHERE u.del_flag = '0'
    <if test="username !=null and username!='' ">
      and u.username like concat('%',#{username},'%')
    </if>
    <if test="userCode !=null and userCode!='' ">
      and u.usercode like concat('%',#{userCode},'%')
    </if>
    <if test="id !=null and id!='' ">
      and u.id = #{id}
    </if>
  </select>


  <select id="findByRole" resultType="com.ah.manager.pojo.TUser" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_user u INNER join t_user_role r on u.id = r.user_id and r.del_flag = '0'
    WHERE u.del_flag = '0'
    <if test="username !=null and username!='' ">
      and u.username like concat('%',#{username},'%')
    </if>
    <if test="userCode !=null and userCode!='' ">
      and u.usercode like concat('%',#{userCode},'%')
    </if>
    <if test="roleId !=null and roleId!='' ">
      and r.role_id = #{roleId}
    </if>
    <if test="id !=null and id !='' ">
      and u.id = #{id}
    </if>
  </select>


  <select id="findStudent" resultType="com.ah.manager.pojo.TUser" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_user u INNER join t_user_role r on u.id = r.user_id and r.del_flag = '0'
    WHERE u.del_flag = '0'
    <if test="username !=null and username!='' ">
      and u.username like concat('%',#{username},'%')
    </if>
    <if test="userCode !=null and userCode!='' ">
      and u.usercode like concat('%',#{userCode},'%')
    </if>
    <if test="roleId !=null and roleId!='' ">
      and r.role_id = #{roleId}
    </if>
    <if test="id !=null and id !='' ">
      and u.id = #{id}
    </if>
    <if test="grade !=null and grade!='' ">
      and u.grade like concat('%',#{grade},'%')
    </if>
  </select>


  <insert id="save" parameterType="com.ah.manager.pojo.TUser" >
   insert into t_user (id, usercode, password,
      family_name, username, birthday,
      sex, address, del_flag,
      create_date, create_by, update_date,
      update_by, remarks, school,
      college, major, phone,
      qq_number, email, job,
      work_time, personcard_no,grade)
    values (#{id}, #{userCode}, #{password},
      #{familyName}, #{username}, #{birthday},
      #{sex}, #{address}, #{delFlag},
      #{createDate}, #{createBy}, #{updateDate},
      #{updateBy}, #{remarks}, #{school},
      #{college}, #{major}, #{phone},
      #{qqNumber}, #{email}, #{job},
      #{workTime}, #{personcardNo},#{grade})
  </insert>

  <select id="findByUserCode" resultType="com.ah.manager.pojo.TUser">
    select
    <include refid="Base_Column_List" />
    from t_user u
    WHERE u.del_flag = '0'
    and u.usercode =#{userCode}
  </select>


  <select id="findById" resultType="com.ah.manager.pojo.TUser">
    select
    <include refid="Base_Column_List" />
    from t_user u
    WHERE u.del_flag = '0'
    and u.id =#{id}
  </select>

  <update id="update" parameterType="com.ah.manager.pojo.TUser" >
    update t_user
    set username = #{username},
        sex = #{sex}
    where id = #{id}
  </update>

  <update id="delete" >
    update t_user
    set del_flag = '1'
    where id = #{id}
  </update>

  <select id="findUsers" resultType="com.ah.manager.pojo.TUser">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    t_user u
    WHERE
    u.del_flag = '0'
    AND u.id NOT IN (
    SELECT
    tr.user_id
    FROM
    t_user_role tr
    WHERE
    tr.del_flag = '0'
    )
  </select>

  <update id="updateUser" parameterType="com.ah.manager.pojo.TUser" >
    update t_user
    <set >
      <if test="userCode != null and userCode!='' " >
        usercode = #{userCode},
      </if>
      <if test="password != null and password !='' " >
        password = #{password},
      </if>
      <if test="familyName != null and familyName !='' " >
        family_name = #{familyName},
      </if>
      <if test="username != null and username!='' " >
        username = #{username},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday},
      </if>
      <if test="sex != null and sex !='' " >
        sex = #{sex},
      </if>
      <if test="address != null and address !='' " >
        address = #{address},
      </if>
      <if test="remarks != null and remarks !='' " >
        remarks = #{remarks},
      </if>
      <if test="school != null and school !='' " >
        school = #{school},
      </if>
      <if test="college != null and college!='' " >
        college = #{college},
      </if>
      <if test="major != null and major !='' " >
        major = #{major},
      </if>
      <if test="phone != null and phone !='' " >
        phone = #{phone},
      </if>
      <if test="qqNumber != null and qqNumber !='' " >
        qq_number = #{qqNumber},
      </if>
      <if test="email != null and email !='' " >
        email = #{email},
      </if>
      <if test="job != null and job !='' " >
        job = #{job},
      </if>
      <if test="workTime != null and workTime !='' " >
        work_time = #{workTime},
      </if>
      <if test="personcardNo != null and personcardNo !='' " >
        personcard_no = #{personcardNo},
      </if>
      <if test="grade != null and grade !='' " >
        grade = #{grade}
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>